:root {
  // fonts
  --font-base: "Comfortaa", cursive;
  --font-sans-serif: 'Rubik', sans-serif;
  --font-mono: "Nova Mono", monospace;

  // colors
  --accent: rgb(255, 0, 76);
  --cl-font-main: #fff5e4;
  --link-main: #fff;
  --link-hover: var(--accent);
}
