@mixin circle-icon($left-icon) {
    display: block;
    position: absolute;
    left: $left-icon;
    top: 20%;
    width: 40px;
    height: 40px;
    border-radius: 75%;
    line-height: 40px;
    text-align: center;
    background-color: var(--accent);
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s, color .25s;

    .modification & {
        pointer-events: all;
        opacity: 1;
    }
}