// Fonts
$font-base: "Comfortaa", cursive;
$font-sans: "Didact Gothic", sans-serif;
$font-rubik: 'Rubik', sans-serif;

// Animation
$animation-time: 0.2s;
$double-animation: 0.6s;

// MediaQ
$desktop: (
  max-width: 1439px
);
$desktop-min: (
  max-width: 1169px
);
$tablet: (
  max-width: 1023px
);
$mobile: (
  max-width: 767px
);

// Добавлять cl-название
// Цвета текста
$cl-font-white: #fff;
$cl-font-black: #000;
$cl-font-light: #999;
$cl-font-gray: #666;
$cl-font-heading: #abb9ff;
$cl-font-orange: #fc9425;
$cl-sub-white: hsla(0, 0%, 100%, 0.8);

// Добавлять cl-название-цвета по группам
$cl-white: #fff;
$cl-black: #000;
// Серый
$cl-gray: #ddd; // серый
$cl-section-gray: #ededed; //серый фоновый
$cl-light-gray: #d3d5d7; // светло серый
$cl-lavender-gray: #e5e7e9; // лаванда-серый
$cl-blag-red: #121111; //чёрно красноватый
// Красный
$cl-red: #fc2525;
// Зелёный
$cl-light-green: #99cc66;
// Синий
$cl-main-purple: #2e3192; // основной фиолетовый
$cl-main-blue: #6666cc; // основной синий
$cl-light-blue: #c2c4ed; // бледно синий
$cl-normal-purple: #a7a7f4; // Аспидно синий - фиолетовый
$cl-blue: #002650;
// Желтый
$cl-main-yellow: #ffdc95; // основной жёлтый
$cl-main-orange: #fc9425; // основной оранжевый
// Alpha colors

/* Добавлять по категориям cl-элемент
/* $cl-button-bg: $Var */

// Общий док
$background: #000;
$blue-back: $cl-blue;

// элементы формы (input, textarea, select, etc)
$form-back: $cl-white;
$form-border: $cl-gray;

// элементы формы (checkbox, radio)
$checkbox-back: $cl-gray;
$checkbox-back-hover: $cl-gray;
$checkbox-back-checked: $cl-font-orange;
$radio-back: $cl-white;
$cl-theme-placeholder: #bbb;

// Элементы управления
$check-mark: $cl-white;

// Colors
$cl-theme-link-hover: var(--accent-light);
$cl-theme-grey: $cl-gray;
